// Margin
.mt-10 {
    margin-top: 3rem;
}
.mb-10 {
    margin-bottom: 3rem;
}
.my-10 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mb-24 {
    margin-bottom: 6rem;
}
.my-24 {
    margin-bottom: 6rem;
    margin-top: 6rem;
}

// Opacity
.opacity-50 {
    opacity: 50%;
}

// Padding
.py-4-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

// Font size
.text-sm {
    font-size: 0.875rem;
}
.text-xl {
    font-size: 1.25rem;
}
.text-4xl {
    font-size: 2.25rem;
}
.text-6xl {
    font-size: 4rem;
}
.text-black {
    color: #000;
}

// Background
.bg-gradient-ltr {
    background: linear-gradient(to right, #095cde, #53c3f3);
}
@each $key, $value in $theme-colors-light {
    .bg-light-#{$key} {
        @if ($dark-mode) {
            @if ($key == "dark") {
                background-color: #545864;
                color: white;
            } @else {
                background-color: saturate(lighten($value, 20%), 15%);
                color: saturate(darken($value, 30%), 5%);
            }
        } @else {
            background-color: $value;
            color: darken($value, 80%);
        }
    }
}
.bg-light {
    color: $gray-800;
}

.font-semibold {
    font-weight: 600;
}
.font-bold {
    font-weight: bold;
}
.font-extrabold {
    font-weight: 800;
}

// Text Width
.text-width-md {
    max-width: 450px;
}

// Text Color
.text-gray-300 {
    color: $gray-300 !important;
}
.text-gray-400 {
    color: $gray-400 !important;
}
.text-gray-500 {
    color: $gray-500 !important;
}
.text-gray-600 {
    color: $gray-600 !important;
}

// Button
.btn-xl {
    padding: 1rem 2rem;
}

// Icon
.icon-mid:before {
    vertical-align: middle;
}

// Z Index
.z-1 {
    z-index: 1;
}

.card-bg-2,
.card-bg-2 .card-header {
    background-color: $card-cap-bg-2 !important;
}
.card-bg-3,
.card-bg-3 .card-header {
    background-color: $card-cap-bg-3 !important;
}
.card-bg-4,
.card-bg-4 .card-header {
    background-color: $card-cap-bg-4 !important;
}
.card-bg-1,
.card-bg-1 .card-header {
    background-color: $card-cap-bg-1 !important;
}
.layout-left {
    padding-right: 25px;
}
.layout-right {
    padding-left: 25px;
}
body {
    font-size: 16px;
}
section {
    margin-bottom: 4rem;
}
section {
    padding-top: 4rem;
}
.page-content section:first-child {
    padding-top: 1rem;
}
p a {
    color: #679569;
    font-weight: 600;
}
p a:hover {
    color: #679569;
    font-weight: 600;
    text-decoration: underline;
}

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}


.table:not(.table-borderless) thead th,
.dataTable-table:not(.table-borderless) thead th {
    border-bottom: 2px solid #141414 !important;
}
h1,
.h1 {
    font-size: 2rem;
}
h2,
.h2 {
    font-size: 1.75rem;
}
h3,
.h3 {
    font-size: 1.5rem;
}
h4,
.h4 {
    font-size: 1.25rem;
}
h5,
.h5 {
    font-size: 1rem;
}
h6,
.h6 {
    font-size: .75rem;
}
a[data-bs-toggle="tooltip"]{
	color: $teal;
}
.accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
pre.code{
	font-family: 'Courier New', monospace;
    font-size: 0.9em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
	background-color: #fefefe;
    border: 2px solid #141414;
    box-shadow: 5px 5px #141414;
    border-radius: 8px;
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
 }
 pre.code code {
	font-family: 'Courier New', monospace;
 }
 .gap1x{
	width: 100%;
	height: 1rem;
 }
 .gap2x{
	width: 100%;
	height: 2rem;
 }
 .gap3x{
	width: 100%;
	height: 3rem;
 }
 .gap4x{
	width: 100%;
	height: 4rem;
 }
 .toast-header small{
	color: $text-muted;
 }
 .toast-header .btn-close{
	color: $primary;
	opacity: 1;
 }

code:not(pre code) {
    background-color: #faf594;
    color: #141414;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0.15rem 0.25rem;
    border-radius: 0.375rem;
}